
.nvbar {

  width: fit-content;
  border-radius: 10px;
  background-color: white;
  height: fit-content;  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px !important;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 20px;
}


.navbrBtn {
  width: 110px;
  height: 60px !important;
  border-right: 1px solid !important;
  border-radius: 0px !important;
  text-decoration: none !important;
  text-align: center !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}
.navbrBtn:hover {
  background-color: rgb(207, 207, 207) !important;
}
.navbrBtn.Mui-selected {
  background-color: rgba(255, 166, 2, 0.452) !important; 
}




.parent {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(71, 71, 71);
  min-width: 340px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  max-height: 40px !important;
  background-color: white;
}
.btn:hover {
  background-color: gray !important;

}

.todoContainer {
  background-color: teal;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /* gap: 15px; */
  border-radius: 15px;
  min-width: 320px;
  max-width: 800px;
  margin: auto;
  height: fit-content;

  max-height: 95vh;
}


.tasksContainer {
  padding-left: 2%;
  padding-right: 3%;
  max-height: 45vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tasksContainer::-webkit-scrollbar {
  width: 8px;
}

.tasksContainer::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 6px;
}

.tasksContainer::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.tasksContainer::-webkit-scrollbar-track {
  background: none; 
  border-radius: 5px;
}

.task {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background: #333;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  height: fit-content;
  margin-top: 12px !important;
  margin-bottom: 10px !important;
}
.task:hover {
  padding-bottom: 16px;
  padding-top: 16px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.MuiTextField-root {
  width: 100%;
}
.MuiFormLabel-root {
  font-size: 22px !important;
}
.MuiInputBase-root {
  width: 100%;
  height: 100%; 
  font-size:25px !important;
  background-color: white;
}





.MuiSnackbar-root {
  width: fit-content;
}
.snkBarContent{
  width: 100%;
  min-width: fit-content !important;
  background-color: rgba(91, 187, 27, 0.842) !important;
  font-size: 25px !important;
  text-align: center !important;
  padding: 6px 8px !important;
}
.MuiSnackbarContent-action {
  display: flex;
  justify-content: end;
  padding: 0px !important;
  margin: 0 !important;
  margin-right: 5px !important;
}
.snkBarIcon {
  padding: 0px !important;
  justify-content: end !important;
}

.poperContainer {
  background-color: rgba(0, 0, 0, 0.541);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 340px;
  z-index: 2 !important;
}
.poperContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  width: 45%;
  min-width: 250px;
  padding: 20px;
}



