
/* ----------------1000px----------------- */
@media screen and (max-width: 1000px) {
    .btn {
        min-width: 35px !important;
        width: 35px !important;
        height: 35px !important;
    }
    .todoContainer {
        width: 80%;
    }
    .poperContent {
        width: 70%;
    }
}



/* ----------------600px----------------- */
@media screen and (max-width: 600px) {
    /* nvBar */
    .nvbar {
        /* border: 1px solid red; */
        margin-top: 10px;
        margin-bottom: 15px;
        min-height: 50px !important;
        height: 50px !important;
    }
    .navbrBtn {
        font-size: 15px !important;
        width: 90px;
        height: 50px !important;
    }

    .btn {
        min-width: 30px !important;
        width: 30px !important;
        height: 30px !important;
    }

    /* tasksList */
    .todoContainer {
        /* gap: 12px; */
        width: 80%;
    }
    .todoContainer h1 {
        height: 45px !important;
        font-size: 40px !important;
    }
    .tasksContainer {
        max-height: 40vh;
    }
    .task .content .taskTitle {
        font-size: 20px !important;
    }
    .task .content .taskDetils {
        font-size: 13px !important;
    }
    .MuiInputBase-root, .addTaskTitleBtn {
        font-size: 20px !important;
    }

    /* snackBar */
    .snkBarContent {
        font-size: 20px !important;
    }
    .snkBarIcon {
        font-size: 28px !important;
    }

    /* PopUp/Poper */
    .poperContent .MuiInputBase-root, .poperContent  .MuiLabelBase-root{
        font-size: 18px !important;
    }
    .poperContent h2 {
        font-size: 20px !important;
    }
}


/* ----------------460px----------------- */
@media screen and (max-width: 460px) {
    .task .content .taskTitle {
        font-size: 16px !important;
    }
    .task .content .taskDetils {
        font-size: 10px !important;
    }
    .MuiInputBase-root, .addTaskTitleBtn {
        font-size: 16px !important;
    }
}
/* ----------------450px----------------- */

    


/* ----------------350px----------------- */
@media screen and (max-width: 350px) {
    .todoContainer {
        padding: 5px;
        width: 90%;
        /* gap: 8px; */
    }
    .todoContainer h1 {
        height: 40px !important;
        font-size: 35px !important;
    }
    .snkBarContent {
        font-size: 18px !important;
    }
    .snkBarIcon {
        font-size: 26px !important;
    }
}