

.weatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
  width: fit-content;
  max-width: 600px !important;
  border-radius: 10px;
}

input {
  background-color: transparent !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 5px;
  font-size: 20px !important;
}

.MuiSnackbar-root {
  width: fit-content !important;
}
.MuiPaper-root {
  min-width: fit-content !important;
  font-size: 20px !important;
  background-color: rgb(233, 73, 52) !important;
}
